body {
    background-image: url('images/flowers.jpg');
    background-size: cover; /* Ensures the image covers the entire background */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center center; /* Centers the image */
}

h1 {
    color: rgb(144, 9, 9);
    text-align: center;
}